.container
{
    height: 100%;
    width: 75%;
    background: linear-gradient(180deg, rgba(215, 199, 244, 0.2) 0%, rgba(151, 133, 186, 0.2) 100%);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container.dark
{
    background: black;
    color: white;
}

.name.dark, .convheader.dark
{
    color: var(--dark-tertiary)
}

.header
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 28px;
    width: 95%;
    font-weight: 700;
    color: var(--primary-color);
}

.heading
{
    width: 100%;
}

.convheader
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: black;
    text-align: center;
}

.slider
{
    display: none;
}

@media screen and (max-width:1080px)
{
    .slider
    {
        display: block;
        cursor: pointer;
    }

    .container
    {
        width: 100%; 
    }
}