.container
{
    width: 100%;
    display: flex;
    column-gap: 10px;
    background: var(--tertiary-color);
    border-radius: 12px;
    margin-bottom: 20px;
}

.content
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.content>span:first-child
{
    font-weight: 700;
}

.content>p
{
    margin-top: 5px;
    font-weight: 400;
}

.time
{
    font-size: 14px;
    font-weight: 400;
    color: #0000009E;
}

.container>img
{
    padding: 10px;
    height: 69px;
    height: 69px;
}

.saved
{
    background: linear-gradient(90deg, #BFACE2 0%, #D7C7F4 100%);
    margin-bottom: 0;
}

.feedback
{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border:0;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.readfeedback
{
    margin-top: 20px;
    font-size: 16px;
}

@media screen and (max-width:620px) 
{
    .content
    {
        font-size: 14px;
    }
}


