.container
{
    width: 100%;
    display: flex;
    column-gap: 10px;
    background: var(--tertiary-color);
    border-radius: 12px;
    margin-bottom: 20px;
    position: relative;
}

.saved.container.dark
{
    background: var(--dark-secondary);
}

.content
{
    padding: 10px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 25px;
}

.content>span:first-child
{
    font-weight: 700;
}

.content>p
{
    margin-top: 5px;
    font-weight: 400;
}

.time
{
    font-size: 14px;
    font-weight: 400;
    color: #0000009E;
}

.container>img
{
    padding: 10px;
    height: 69px;
    height: 69px;
}

.saved
{
    background: linear-gradient(90deg, #BFACE2 0%, #D7C7F4 100%);
    margin-bottom: 0;
}

.saved.dark, .container.dark
{
    background: var(--dark-secondary);
}

.feedback
{
    max-width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border:0;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.thumbs
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: absolute;
}

.nofill
{
    left: 45px;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 20px;
    background-color: var(--secondary-color);
}

.nofill.dark
{
    background-color: white;
}

.nofill>img
{
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.nofill>img:last-child
{
    margin-left: 0;
}

.nofill>img:hover
{
    transform: scale(1.2);
}

.fill
{
    bottom: 10px;
    right: 10px;
    background: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.dark.fill
{
    background: white;
}

.thumbs>img
{
    height: 20px;
    width: 20px;
}

.fill>img
{
    margin: 10px;
}

.nofill:hover
{
    cursor: pointer;
}

.feedback:hover
{
    transform: scale(1.05);
}

.feedback.dark
{
    background-color: var(--dark-primary);
}

.tick
{
    height: 20px;
    width: 20px;
    margin-left: 5px;
    background-color: white;
    border-radius: 50%;
}

.readfeedback
{
    margin-top: 20px;
    font-size: 16px;
}



