.container
{
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 95%;
}

.chat
{
    width: 85%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
}

.ask, .save
{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--tertiary-color);
    border: 0;
    cursor: pointer;
}

.ask:hover, .save:hover
{
    background-color: var(--secondary-color);
}

.dark
{
    background-color: var(--dark-primary);
    color: var(--dark-tertiary);
}

.dark:hover
{
    background-color: var(--dark-secondary);
}

@media screen and (max-width: 620px)
{
    .chat, .ask, .save
    {
        font-size: 16px;
    }
}

