.container
{
    height:auto;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: black;
}

.container.dark
{
    background-color: var(--dark-primary);
}

.container>h1
{
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.container.light>h1
{
    color: black;
}

.container.dark>p
{
    color: var(--dark-tertiary);
}

.container>h1
{
    color: white;
}

.container>p
{
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
    margin: 10px;
}

@media screen and (max-width:660px)
{
    .container>h1
    {
        font-size: 18px;
        margin: 5px;
    }

    .container>p
    {
        font-size: 14px;
        margin: 5px;
    }
}
