.container
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.85);
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main
{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: var(--primary-color);
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}

.tablediv
{
    width: 100%;
    min-height: 60vh;
}

.table
{
    background-color: var(--tertiary-color);
    width: 100%;
    height: auto;
    margin-top: 30px;
    font-size: 16px;
}

th
{
    background-color: var(--primary-color);    
}

td
{
    background-color: var(--secondary-color);
}

th, td
{
    padding: 10px;
    width: 50%;
    height: 20px;
    text-align: center;
}

.filters
{
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items:start;
}

select
{
    height: 40px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

h4
{
    font-weight: 500;
}

.filter, .sort, .cleardiv, select
{
    width: 100%;
    color: var(--primary-color);
    font-weight: 400;
}

h4
{
    margin: 0;
    text-align: center;
}

.clear
{
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:980px)
{
    .main
    {
        width: 60vw;
    }
}

@media screen and (max-width:680px)
{
    .main
    {
        width: 80vw;
    }
}

@media screen and (max-width:480px)
{
    .filters
    {
        flex-direction: column;
    }
}