.container
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.75);
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: var(--primary-color);
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}

.tablediv
{
    min-height: 60vh;
}

.table
{
    background-color: var(--tertiary-color);
    width: 50vw;
    height: auto;
    margin-top: 30px;
}

th
{
    background-color: var(--primary-color);    
}

td
{
    background-color: var(--secondary-color);
}

th, td
{
    padding: 10px;
    width: 50%;
    height: 20px;
    text-align: center;
}

.filters
{
    width: 50vw;
    display: flex;
    align-items: flex-end;
    column-gap: 57px;
}

select
{
    height: 40px;
    width: 160px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}


.filter, .sort
{
    width: 120px;
    color: var(--primary-color);
    font-weight: 500;
}

.clear
{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}