.container
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.85);
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 75px;
    overflow-y: scroll;
}

.main
{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close
{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-top: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--tertiary-color);
    font-weight: 600;
    cursor: pointer;
}

.close:hover
{
    background-color: var(--secondary-color);
}

.close.dark
{
    background-color: white;
    color: var(--dark-primary);
}

.close.dark:hover
{
    background-color: var(--dark-tertiary);
}

.tablediv
{
    width: 100%;
    height: 65vh;
    overflow-y: scroll;
}

.table
{
    background-color: var(--tertiary-color);
    width: 100%;
    font-size: 16px;
}

.table.dark
{
    background-color: var(--dark-tertiary);
    color: white;
}

th
{
    background-color: var(--primary-color);    
}

.table.dark>tr>th, .clear.dark
{
    background-color: var(--dark-primary);  
}

td
{
    background-color: var(--secondary-color);
}

.table.dark>tr>td
{
    background-color: var(--dark-secondary);  
}

th, td
{
    padding: 10px;
    width: 50%;
    height: 20px;
    text-align: center;
}

.filters
{
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items:start;
    margin-bottom: 30px;
}

select
{
    height: 40px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

h4
{
    font-weight: 500;
}

.filter, .sort, .cleardiv, select
{
    width: 100%;
    color: var(--primary-color);
    font-weight: 400;
}

h4
{
    margin: 0;
    text-align: center;
}

.clear
{
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.clear:hover
{
    background-color: var(--secondary-color);
}

.clear.dark:hover
{
    background-color: var(--dark-secondary);
}


@media screen and (max-width:980px)
{
    .main
    {
        width: 60vw;
    }
}

@media screen and (max-width:680px)
{
    .main
    {
        width: 80vw;
    }
}

@media screen and (max-width:480px)
{
    .filters
    {
        flex-direction: column;
    }
}