.container
{
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    padding:2px;
    border-radius: 18px;
    border: 2px solid var(--dark-tertiary);
    cursor: pointer;
}

.slider
{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
}

.dark
{
    background-color: var(--primary-color);
}

.light
{
    background-color: var(--dark-secondary);
}

.right
{
    transform: translateX(25px);
    transition: background-color 0.3s ease-in-out;
}

.left
{
    transform: translateX(0);
    transition: background-color 0.3s ease-in-out;
}